[submodule "kittyx"]
	path = kittyx
	url = https://github.com/kitty-crow/kittyx.git
[submodule "src/asm"]
	path = src/asm
	url = https://github.com/kitty-crow/thistle-asm.git
[submodule "baguette"]
	path = baguette
	url = https://github.com/kitty-crow/baguette.git
[submodule "thistlecc"]
	path = thistlecc
	url = https://github.com/kitty-crow/thistlecc.git
[submodule "neru"]
	path = neru
	url = https://github.com/kitty-crow/neru.git
