[submodule "kittyx"]
	path = kittyx
	url = ../kittyx.git
[submodule "src/asm"]
	path = src/asm
	url = ../thistle-asm.git
[submodule "baguette"]
	path = baguette
	url = ../baguette.git
[submodule "thistlecc"]
	path = thistlecc
	url = ../thistlecc.git
